@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

/* 커스텀 얇은 스크롤바 */
::-webkit-scrollbar {
  width: 6px; /* 세로 스크롤바 */
  height: 6px; /* 가로 스크롤바 */
}

::-webkit-scrollbar-track {
  background: transparent; /* 배경 없음 */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #374151, #1f2937);
  border-radius: 9999px; /* pill 형태 */
  border: 1px solid #0f172a;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4b5563, #1f2937);
}
